{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            Edit page
            <a
                href="{{ path('page_get', {'slug': slug}) }}"
                class="action pull-right"
                title="View the page">
                <i class="fa fa-eye"></i>
            </a>
        </h2>
    </div>
    <article class="col-sm-9 mbottom-large">
        <div id="page-edit-app">
            <page-edit-app
                init-urls = "{{ urls }}"
                init-data="{{ data }}"
            />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/ckeditor/ckeditor.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/pageedit.js") }}"></script>
{% endblock %}
