{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>PhD thesis</small><br />
            {{ phd.getTitle() }}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('phd_edit', {'id': phd.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include 'Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? phd.getPersonRoles() : phd.getPublicPersonRoles()}
                    only
                %}
                <tr>
                    <td>Year</td>
                    <td>{{ phd.getForthcoming() ? 'forthcoming' : phd.getYear() }}</td>
                </tr>
                {% if phd.getCity() is not empty %}
                    <tr>
                        <td>City</td>
                        <td>{{ phd.getCity() }}</td>
                    </tr>
                {% endif %}
                {% if phd.getInstitution() is not empty %}
                    <tr>
                        <td>Institution</td>
                        <td>{{ phd.getInstitution() }}</td>
                    </tr>
                {% endif %}
                {% if phd.getVolume() is not empty %}
                    <tr>
                        <td>Volume</td>
                        <td>{{ phd.getVolume() }}</td>
                    </tr>
                {% endif %}
                {% if phd.getUrls() is not empty %}
                    <tr>
                        <td>External links</td>
                        <td>
                            {% embed 'Helpers/renderList.html.twig' with {'list': phd.getUrls()} only %}
                                {% block renderItem %}
                                    <a href="{{ item.getUrl() }}" target="_blank">{% if item.getTitle() is not empty %}{{ item.getTitle() }}{% else %}{{ item.getUrl() }}{% endif %}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if phd.getIdentifications() is not empty and phd.getIdentifications()['vassis'] is defined %}
                    <tr>
                        <td><a href="{{ path('person_get', {'id': phd.getIdentifications()['vassis'][0].getIds()[0]}) }}">Vassis</a> abbreviation</td>
                        <td>
                            {% embed 'Helpers/renderList.html.twig' with {'list': phd.getIdentifications()['vassis'][1]} only %}
                                {% block renderItem %}
                                    {{ item }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if phd.getFlatIdentifications()|notVassis is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed 'Helpers/renderList.html.twig' with {'list': phd.getFlatIdentifications()|notVassis} only %}
                                {% block renderItem %}
                                    {% include 'Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% include 'Helpers/renderInverseReferences.html.twig' with {'inverseReferences': is_granted('ROLE_VIEW_INTERNAL') ? phd.getInverseReferences() : phd.getPublicInverseReferences()} only %}
                {% if phd.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ phd.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if phd.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ phd.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if phd.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed 'Helpers/renderList.html.twig' with {'list': phd.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('bibliographies_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all bibliography items with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ phd.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
