{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit PhD thesis
                <a
                    href="{{ path('phd_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the PhD thesis">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add PhD thesis
            {% endif %}
        </h2>
    </div>
    <div id="phd-edit-app">
        <phd-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-roles="{{ roles }}"
            init-identifiers="{{ identifiers }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('phdedit') }}
{% endblock %}
