{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit Bib varia
                <a
                    href="{{ path('bib_varia_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the bib varia">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add bib varia
            {% endif %}
        </h2>
    </div>
    <div id="bib-varia-edit-app">
        <bib-varia-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-roles="{{ roles }}"
            init-identifiers="{{ identifiers }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/bibvariaedit.js") }}"></script>
{% endblock %}
