{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit type
                <a
                    href="{{ path('type_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the type">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add type
            {% endif %}
        </h2>
    </div>
    <div id="type-edit-app">
        <type-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-identifiers="{{ identifiers }}"
            init-roles="{{ roles }}"
            init-contributor-roles="{{ contributorRoles }}"
            init-translation-roles="{{ translationRoles }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/typeedit.js") }}"></script>
{% endblock %}
