{% extends 'base.html.twig' %}

{% block content %}
<div id="fb-root"></div>
<div class="col-sm-12">
    <h2 class="h1">Welcome to the Database of Byzantine Book Epigrams</h1>
</div>
<article class="col-sm-9 mbottom-large">
    <div class="row display-flex">
        <div class="col-sm-6">
            <div class="bg-primary padding-default">
                <p>The Database of Byzantine Book Epigrams (DBBE) is an ongoing <a href="https://www.projectdbbe.ugent.be/" target="_blank">project</a> that makes available both textual and contextual data of book epigrams - also known as “metrical paratexts” - from medieval Greek <a href="{{ path('manuscripts_search') }}">manuscripts</a> dating up to the fifteenth century. We define book epigrams as poems in and on books: they have as subject the very manuscript in which they are found, elaborating on its production, contents and use.</p>
                <p>We distinguish between two kinds of textual material, namely <a href="{{ path('occurrences_search') }}">occurrences</a> and <a href="{{ path('types_search') }}">types</a>. Further explanation of our definitions and working principles is to be found on the <a href="{{ path('page_get', {'slug': 'help'}) }}">Help page</a>. A technical guide to the use of DBBE is to be found on the <a href="{{ path('page_get', {'slug': 'search-tips-tricks'}) }}">Search tips and tricks page</a>.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bg-tertiary padding-default full-height">
                <h2>About DBBE</h2>
                <p>More information on the DBBE project, such as</p>
                <ul>
                <li><a href="https://www.projectdbbe.ugent.be/" target="_blank">News and Events</a></li>
                <li><a href="https://www.projectdbbe.ugent.be/team" target="_blank">Team Members</a></li>
                <li><a href="https://www.projectdbbe.ugent.be/contact" target="_blank">Contact information</a></li>
                </ul>
                <p>can be found on our <a href="https://www.projectdbbe.ugent.be/" target="_blank">project website</a>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="padding-default">
                <a href="{{ path('occurrences_search') }}">
                    <h2>Occurrences</h2>
                </a>
                <p class="text-muted">Book epigrams exactly as they occur in one specific manuscript. The data collected here is largely the result of careful manuscript consultation, either in situ or based on (digital) reproductions, conducted by the <a href="https://www.projectdbbe.ugent.be/team/" target="_blank">DBBE team</a>. The remainder is compiled from descriptive catalogues and other relevant publications. Individual verses found in multiple occurrences are linked together by means of dedicated <a href="{{ path('page_get', {'slug': 'search-tips-tricks'}) }}">Verse variants pages</a>.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="padding-default">
                <a href="{{ path('types_search') }}">
                    <h2>Types</h2>
                </a>
                <p class="text-muted">Book epigrams independently of how exactly they occur in the manuscripts, often - yet not always - regrouping several occurrences that have an identical or at least very similar text. If available, the text of a type is drawn from a critical edition. If not, it is a normalised version of a single representative occurrence.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="padding-default">
                <a href="{{ path('manuscripts_search') }}">
                    <h2>Manuscripts</h2>
                </a>
                <p class="text-muted">The medieval Greek manuscripts in which these book epigrams have come down to us.  Manuscripts are identified by city, library, collection, and shelfmark. We generally follow the system used by the <a href="https://pinakes.irht.cnrs.fr/" target="_blank">Pinakes</a> database and for each manuscript provide the unique <a href="http://www.diktyon.org/en/" target="_blank">Diktyon</a> identifier.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="padding-default">
                <a href="{{ path('persons_search') }}">
                    <h2>Persons</h2>
                </a>
                <p class="text-muted">Byzantine people involved in the production of book epigrams, not only poets but also scribes and patrons of manuscripts. If available, basic information such as a (tentative) date or date range as well as references to the repertoria is provided consistently. Bibliographical references are recorded occasionally.</p>
            </div>
        </div>
    </div>
</article>
<aside class="col-sm-3 mbottom-large">
    <div class="fb-page" data-href="https://www.facebook.com/byzantinebookepigrams/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/byzantinebookepigrams/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/byzantinebookepigrams/">Database of Byzantine Book Epigrams</a>
        </blockquote>
    </div>
</aside>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
