<!doctype html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>Database of Byzantine Book Epigrams</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/icons/apple-icon-57x57.png') }}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/icons/apple-icon-60x60.png') }}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/icons/apple-icon-72x72.png') }}"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/icons/apple-icon-76x76.png') }}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/icons/apple-icon-114x114.png') }}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/icons/apple-icon-120x120.png') }}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/icons/apple-icon-144x144.png') }}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/icons/apple-icon-152x152.png') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/icons/apple-icon-180x180.png') }}"/>
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/icons/android-icon-192x192.png') }}"/>
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/icons/favicon-96x96.png') }}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/icons/favicon-32x32.png') }}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/icons/favicon-16x16.png') }}"/>
        <link rel="icon" sizes="16x16 32x32" href="{{ asset('assets/icons/favicon.ico') }}"/>
        <link rel="manifest" href="{{ asset('assets/icons/manifest.json') }}"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="{{ asset('assets/icons/ms-icon-144x144.png') }}"/>
        <meta name="theme-color" content="#ffffff"/>
    </head>

    <body>
        <div class="fluid-container">
            <div class="row">
                <header class="pageheader col-xs-12 ">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="navbar-header col-xs-12 col-sm-2">
                                <div class="page-logo">
                                    <a href="./" class="link">
                                        <img src="{{ asset('assets/images/logo_ugent_en.svg') }}" alt="Ghent University">
                                    </a>
                                </div>
                                <a href="#" class="toggle-search">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <span>ZOEK</span>
                                </a>
                                <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" role="button">
                                    <span class="">MENU</span>
                                    <div class="block">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </a>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse col-sm-10" role="navigation">
                                <div class="row menu">
                                    <div class="col-xs-12">
                                        <div class="bg-primary spacer">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <ul class="nav-tertiary nav navbar-nav navbar-right">
                                                        <li>
                                                            <a href="https://www.ugent.be/lw/en" title="Home Faculty of Arts and Philosophy">Home Faculty of Arts and Philosophy</a>
                                                        </li>
                                                        <li class="last-child" id="siteaction-home_ugent">
                                                            <a href="https://www.ugent.be/en" title="Home Ghent University">Home Ghent University</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row menu">
                                    <div class="col-xs-12">
                                        <ul class="nav-primary nav navbar-nav">
                                            <li class="active">
                                                <a href="/">
                                                    <span>Home</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/about">
                                                    <span>About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/help">
                                                    <span>Help</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                    <span>Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="row branding-wrapper">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-2 branding-container header_title faculty-1 small">
                            <a href="/">
                                <h1>Database of Byzantine Book Epigrams</h1>
                            </a>
                        </div>
                    </div>
                </header>
            </div>
        </div>

        <div class="fluid-container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="page-footer fluid-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bg-primary padding-20">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 pbottom-small branding-container footer_title faculty">
                                <h2>
                                    <a href="/lw/en">
                                        <img class="svg" alt="logo faculty" src="{{ asset('assets/images/logo_lw_en.svg') }}" />
                                    </a>
                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <ul class="list-inline list-unstyled pull-right">
                                    <li>
                                        <a href="mailto:dbbe@ugent.be">Feedback</a>
                                    </li>
                                    <li>
                                        &copy; {{ "now"|date("Y") }} Ghent University
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascript %}{% endblock %}
    </body>
</html>
