{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2>Manuscript "{{ name }}"</h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% for key,value in infos %}
                <tr>
                    <td>{{ value.title }}</td>
                    <td>
                        {# [item, item] #}
                        {% if value.type is defined and value.type == 'multiple' %}
                            {% if value.content|length == 1 %}
                                {{ value.content[0] }}
                            {% else %}
                                <ul>
                                {% for item in value.content %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {# [id => name, id => name] #}
                        {% elseif value.type is defined and value.type == 'multiple_link' %}
                            {% if value.content|length == 1 %}
                                {% for id, name in value.content %}
                                    <a href="{{ value.base_url ~ id }}">{{ name }}</a>
                                {% endfor %}
                            {% else %}
                                <ul>
                                {% for id, name in value.content %}
                                    <li><a href="{{ value.base_url ~ id }}">{{ name }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {# [['id' => id, 'name' => name], ['id' => id, 'name' => name]] #}
                        {% elseif value.type is defined and value.type == 'multiple_expl_link' %}
                            {% if value.content|length == 1 %}
                                {% for content in value.content %}
                                    <a href="{{ value.base_url ~ content.id }}">{{ content.name }}</a>
                                {% endfor %}
                            {% else %}
                                <ul>
                                {% for content in value.content %}
                                    <li><a href="{{ value.base_url ~ content.id }}">{{ content.name }}</a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% elseif value.type is defined and value.type == 'link_without_name' %}
                            <a href="{{ value.base_url ~ value.content }}">{{ value.base_url ~ value.content }}</a>
                        {% else %}
                            {{ value.content }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
