{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2>Manuscript "{{ name }}"</h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% for key,value in infos %}
                <tr {% if value.internal is defined and value.internal %}class="warning"{% endif %}>
                    <td>{{ value.title }}</td>
                    <td>
                        {# create unordered lists if there are multiple entries #}
                        {% if value.content|length > 1 %}
                            <ul>
                        {% endif %}
                        {% for content_key, content_value in value.content %}
                            {% if value.content|length > 1 %}
                                <li>
                            {% endif %}

                            {# main part #}
                            {% if value.type is defined and value.type == 'link_without_name' %}
                                {# [id, id] #}
                                <a href="{{ value.base_url ~ content_value }}">
                                    {{ value.base_url ~ content_value }}
                                    {# if an url doesn't start with /, it's an external link #}
                                    {% if value.base_url matches '$^[^/]$' %}
                                        <i class="fa fa-external-link"></i>
                                    {% endif %}
                                </a>
                            {% elseif value.type is defined and value.type == 'link' %}
                                {# [id => name, id => name] #}
                                <a href="{{ value.base_url ~ content_key }}">
                                    {{ content_value }}
                                    {% if value.base_url matches '$^[^/]$' %}
                                        <i class="fa fa-external-link"></i>
                                    {% endif %}
                                </a>
                            {% elseif value.type is defined and value.type == 'link_expl' %}
                                {% if content_value.url is defined %}
                                    {# [['url' => url, 'name' => name], ['url' => url, 'name' => name]] #}
                                    <a href="{{ content_value.url }}">
                                        {{ content_value.name }}
                                        {% if content_value.url matches '$^[^/]$' %}
                                            <i class="fa fa-external-link"></i>
                                        {% endif %}
                                    </a>
                                {% else %}
                                    {# [['id' => id, 'name' => name], ['id' => id, 'name' => name]] #}
                                    <a href="{{ value.base_url ~ content_value.id }}">
                                        {{ content_value.name }}
                                        {% if value.base_url matches '$^[^/]$' %}
                                            <i class="fa fa-external-link"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% else %}
                                {# [item, item] #}
                                {{ content_value }}
                            {% endif %}

                        {# create unordered lists if there are multiple entries #}
                            {% if value.content|length > 1 %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if value.content|length > 1 %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
