{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1{% if not manuscript.getPublic() %} text-danger{% endif %}">
            Manuscript "{{ manuscript.getName() }}"
            {% if not manuscript.getPublic() %}
                - Not Public
            {% endif %}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('manuscript_edit', {'id': manuscript.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% if manuscript.getContentsWithParents() is not empty %}
                    <tr>
                        <td>Content</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': manuscript.getContentsWithParents()} only %}
                                {% block renderItem %}
                                    {{ item.getName() }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {%
                    include '@App/Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? manuscript.getFixedRelatedPersonRoles() : manuscript.getFixedRelatedPublicPersonRoles()}
                    only
                %}
                {% if manuscript.getDate() is not empty %}
                    <tr>
                        <td>Date</td>
                        <td>{{ manuscript.getDate() }}</td>
                    </tr>
                {% endif %}
                {% if manuscript.getOrigin() is not empty %}
                    <tr>
                        <td>Origin</td>
                        <td>{{ manuscript.getOrigin().getName() }}</td>
                    </tr>
                {% endif %}
                {% if manuscript.getBibliographies() is not empty %}
                    <tr>
                        <td>Bibliography</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': manuscript.getBibliographies()} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderBibliography.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getIdentifications() is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': manuscript.getIdentifications()} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ manuscript.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% set occurrences = is_granted('ROLE_VIEW_INTERNAL') ? manuscript.getOccurrences() : manuscript.getOccurrences()|public %}
                {% if occurrences is not empty %}
                    <tr>
                        <td>Occurrences</td>
                        <td class="greek">
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': occurrences} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'occurrence_get','display': item.getDescription()} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if manuscript.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ manuscript.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if manuscript.getStatus() is not empty %}
                        <tr class="warning">
                            <td>Status</td>
                            <td>{{ manuscript.getStatus() }}</td>
                        </tr>
                    {% endif %}
                    {% if manuscript.getIllustrated() is defined %}
                        <tr class="warning">
                            <td>Illustrated</td>
                            <td>{{ manuscript.getIllustrated() ? 'Yes': 'No' }}</td>
                        </tr>
                    {% endif %}
                    {% if manuscript.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': manuscript.getManagements()} only %}
                                    {% block renderItem %}
                                        {{ item.getName() }}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="danger">
                        <td>Publication state</td>
                        <td>{{ manuscript.getPublic() ? 'Public': 'Not public' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
