{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 {% if not manuscript.getPublic() %}class="text-danger"{% endif %}>
            Manuscript "{{ manuscript.getName() }}"
            {% if not manuscript.getPublic() %}
                - Not Public
            {% endif %}
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('manuscript_edit', {'id': manuscript.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% if manuscript.getContentsWithParents() is not empty %}
                    <tr>
                        <td>Content</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getContentsWithParents()} only %}
                                {% block renderItem %}
                                    {{ item.getName() }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getAllPatrons() is not empty %}
                    <tr>
                        <td>Patron(s)</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getAllPatrons()} only %}
                                {% block renderItem %}
                                    <a href="{{ path('person_show', {'id': item.getId()}) }}">{{ item.getFullDescriptionWithOccupations() }}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getAllScribes() is not empty %}
                    <tr>
                        <td>Scribe(s)</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getAllScribes()} only %}
                                {% block renderItem %}
                                    <a href="{{ path('person_show', {'id': item.getId()}) }}">{{ item.getFullDescriptionWithOccupations() }}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getOnlyRelatedPersons() is not empty %}
                    <tr>
                        <td>Person(s)</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getOnlyRelatedPersons()} only %}
                                {% block renderItem %}
                                    <a href="{{ path('person_show', {'id': item.getId()}) }}">{{ item.getFullDescriptionWithOccupations() }}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getDate() is not empty %}
                    <tr>
                        <td>Date</td>
                        <td>{{ manuscript.getDate() }}</td>
                    </tr>
                {% endif %}
                {% if manuscript.getOrigin() is not empty %}
                    <tr>
                        <td>Origin</td>
                        <td>{{ manuscript.getOrigin().getName() }}</td>
                    </tr>
                {% endif %}
                {% if manuscript.getBibliographies() is not empty %}
                    <tr>
                        <td>Bibliography</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getBibliographies()} only %}
                                {% block renderItem %}
                                    {% if item.getType() == 'book' %}
                                        <a href="{{ path('bibliography_show', {'id': item.getBook().getId()}) }}">{{ item.getDescription() }}</a>
                                    {% elseif item.getType() == 'article' %}
                                        <a href="{{ path('bibliography_show', {'id': item.getArticle().getId()}) }}">{{ item.getDescription() }}</a>
                                    {% elseif item.getType() == 'bookChapter' %}
                                        <a href="{{ path('bibliography_show', {'id': item.getBookChapter().getId()}) }}">{{ item.getDescription() }}</a>
                                    {% elseif item.getType() == 'onlineSource' %}
                                        <a href="{{ item.getUrl() }}">{{ item.getDescription() }} <i class="fa fa-external-link"></i></a>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getDiktyon() is not empty %}
                    <tr>
                        <td>Link to Pinakes</td>
                        <td>
                            <a href="http://pinakes.irht.cnrs.fr/notices/cote/id/{{ manuscript.getDiktyon() }}">http://pinakes.irht.cnrs.fr/notices/cote/id/{{ manuscript.getDiktyon() }}</a>
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ manuscript.getPublicComment() }}</td>
                    </tr>
                {% endif %}
                {% if manuscript.getOccurrences() is not empty %}
                    <tr>
                        <td>Occurrences</td>
                        <td>
                            {% embed '@App/renderList.html.twig' with {'list': manuscript.getOccurrences()} only %}
                                {% block renderItem %}
                                    <a href="{{ path('occurrence_show', {'id': item.getId()}) }}">{{ item.getDescription() }}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if manuscript.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ manuscript.getPrivateComment() }}</td>
                        </tr>
                    {% endif %}
                    {% if manuscript.getIllustrated() is defined %}
                        <tr class="warning">
                            <td>Illustrated</td>
                            <td>{{ manuscript.getIllustrated() ? 'Yes': 'No' }}</td>
                        </tr>
                    {% endif %}
                    {% if manuscript.getPublic() is defined %}
                        <tr class="danger">
                            <td>Publication state</td>
                            <td>{{ manuscript.getPublic() ? 'Public': 'Not public' }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
                </tbody>
            </tbody>
        </table>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="{{ asset("/build/feedback.js") }}"></script>
{% endblock %}
