{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit manuscript
                <a
                    href="{{ path('manuscript_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the manuscript">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add Manuscript
            {% endif %}
        </h2>
    </div>
    <div id="manuscript-edit-app">
        <manuscript-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-identifiers="{{ identifiers }}"
            init-roles="{{ roles }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/manuscriptedit.js") }}"></script>
{% endblock %}
