{% extends 'base.html.twig' %}

{% block content %}
    <div id="manuscript-edit-app">
        <manuscript-edit-app
            get-manuscript-url="{{ path('manuscript_show', {'id': id}) }}"
            put-manuscript-url="{{ path('manuscript_put', {'id': id}) }}"
            init-manuscript="{{ manuscript }}"
            init-locations="{{ locations }}"
            init-contents="{{ contents }}"
            init-patrons="{{ patrons }}"
            init-scribes="{{ scribes }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/manuscriptedit.js") }}"></script>
{% endblock %}
