{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-12 ">
        <h2 class="h1">Search Manuscripts</h2>
        {% if is_granted('ROLE_EDITOR_VIEW') %}
        <div class="pbottom-default">
            <a
                href="{{ path('manuscript_add') }}"
                class="action">
                <i class="fa fa-plus"></i> Add a new manuscript
            </a>
        </div>
        {% endif %}
    </div>
    <div id="manuscript-search-app">
        <manuscript-search-app
            :is-view-internal="{{ is_granted('ROLE_VIEW_INTERNAL') ? 'true' : 'false' }}"
            init-urls="{{ urls }}"
            init-data="{{ data }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/build/manuscriptsearch.js") }}"></script>
{% endblock %}
