{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1{% if not person.getPublic() %} text-danger{% endif %}">
            <small>Person</small><br />{{ person.getNameAndDate() }}
            {% if not person.getPublic() %}
                - Not Public
            {% endif %}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('person_edit', {'id': person.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% if person.getName() is not empty %}
                    <tr>
                        <td>Name</td>
                        <td>{{ person.getName() }}</td>
                    </tr>
                {% endif %}
                {% if person.getSelfDesignations() is not empty %}
                    <tr>
                        <td>(Self) designation</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getSelfDesignations()} only %}
                                {% block renderItem %}
                                    {{ item.getName() }}
                                {% endblock %}
                            {% endembed %}</td>
                    </tr>
                {% endif %}
                {% if person.getInterval() is not empty %}
                    <tr>
                        <td>Date</td>
                        <td>{{ person.getInterval() }}</td>
                    </tr>
                {% elseif person.getBornDate() is not empty %}
                    <tr>
                        <td>Date of birth</td>
                        <td>{{ person.getBornDate() }}</td>
                    </tr>
                {% elseif person.getDeathDate() is not empty %}
                    <tr>
                        <td>Date of death</td>
                        <td>{{ person.getDeathDate() }}</td>
                    </tr>
                {% endif %}
                {% if person.getAttestedDatesAndIntervals() is not empty %}
                    <tr>
                        <td>Attested dates and intervals</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getAttestedDatesAndIntervals()} only %}
                                {% block renderItem %}
                                    {{ item }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if person.getOfficesWithParents() is not empty %}
                    <tr>
                        <td>Office</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getOfficesWithParents()} only %}
                                {% block renderItem %}
                                    {{ item.getName() }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if person.getIdentifications() is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getFlatIdentifications()} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% for documentType in ['article', 'book', 'bookChapter', 'blogPost'] %}
                    {% set documentRoles = is_granted('ROLE_VIEW_INTERNAL') ? person.getDocumentRoles(documentType) : person.getPublicDocumentRoles(documentType) %}
                    {% if documentRoles is not empty %}
                        <tr>
                            <td>
                                {% if documentType == 'article' %}
                                    Article(s)
                                {% elseif documentType == 'book' %}
                                    Book(s)
                                {% elseif documentType == 'bookChapter' %}
                                    Book chapter(s)
                                {% elseif documentType == 'blogPosts' %}
                                    Book post(s)
                                {% endif %}
                            </td>
                            <td>
                                {% for rolename, documentRole in documentRoles %}
                                    <h6>As {{ documentRole[0].getName() }}:</h6>
                                    {% embed '@App/Helpers/renderList.html.twig' with {'list': documentRole[1], 'enableCollapse': 1, 'label': (documentType == 'bookChapter' ? 'book chapter' : documentType) ~ 's'} %}
                                        {% block renderItem %}
                                            {% if documentType == 'article' %}
                                                {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'article_get', 'display': item.getDescription()} only %}
                                            {% elseif documentType == 'book' %}
                                                {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'book_get', 'display': item.getDescription()} only %}
                                            {% elseif documentType == 'bookChapter' %}
                                                {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'book_chapter_get', 'display': item.getDescription()} only %}
                                            {% elseif documentType == 'blogPost' %}
                                                {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'blog_post_get', 'display': item.getDescription()} only %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% set manuscriptRoles = is_granted('ROLE_VIEW_INTERNAL') ? person.getFixedRelatedManuscriptRoles() : person.getFixedRelatedPublicManuscriptRoles() %}
                {% if manuscriptRoles is not empty %}
                    <tr>
                        <td>Manuscript(s)</td>
                        <td>
                            {% if manuscriptRoles is not empty %}
                                {% for rolename, manuscriptRole in manuscriptRoles %}
                                    <h6>As {{ manuscriptRole[0].getName() }}:</h6>
                                    {% embed '@App/Helpers/renderList.html.twig' with {'list': manuscriptRole[1], 'enableCollapse': 1, 'label': 'manuscripts'} only %}
                                        {% block renderItem %}
                                            {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'manuscript_get', 'display': item.getName()} only %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% for documentType in ['occurrence', 'type'] %}
                    {% set documentRoles = is_granted('ROLE_VIEW_INTERNAL') ? person.getDocumentRoles(documentType) : person.getPublicDocumentRoles(documentType) %}
                    {% if documentRoles is not empty %}
                        <tr>
                            <td>
                                {% if documentType == 'occurrence' %}
                                    Occurrence(s)
                                {% elseif documentType == 'type' %}
                                    Type(s)
                                {% endif %}
                            </td>
                            <td>
                                {% for rolename, documentRole in documentRoles %}
                                    <h6>As {{ documentRole[0].getName() }}:</h6>
                                    {% embed '@App/Helpers/renderList.html.twig' with {'list': documentRole[1], 'enableCollapse': 1, 'label': documentType|breakAtCapitals ~ 's'} %}
                                        {% block renderItem %}
                                            {% if documentType == 'occurrence' %}
                                                {% embed '@App/Helpers/renderPublic.html.twig' with {'item': item} only %}
                                                    {% block renderDetail %}
                                                        <a href="{{ path('occurrence_get', {'id': item.getId()})}}">[{{ item.getId() }}] <span class="greek">{{ item.getDescription() }}</span></a>
                                                    {% endblock %}
                                                {% endembed %}
                                            {% elseif documentType == 'type' %}
                                                {% embed '@App/Helpers/renderPublic.html.twig' with {'item': item} only %}
                                                    {% block renderDetail %}
                                                        <a href="{{ path('type_get', {'id': item.getId()})}}">[{{ item.getId() }}] <span class="greek">{{ item.getDescription() }}</span></a>
                                                    {% endblock %}
                                                {% endembed %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if person.getBibliographies() is not empty %}
                    <tr>
                        <td>Bibliography</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getBibliographyDisplay(person.getBibliographies()), 'enableCollapse': 1, 'label': 'references'} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderBibliography.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if person.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ person.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if person.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ person.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if person.getHistorical()|default is not null %}
                        <tr class="warning">
                            <td>Historical</td>
                            <td>{{ person.getHistorical() ? 'Yes': 'No' }}</td>
                        </tr>
                    {% endif %}
                    {% if person.getModern()|default is not null %}
                        <tr class="warning">
                            <td>Modern</td>
                            <td>{{ person.getModern() ? 'Yes': 'No' }}</td>
                        </tr>
                    {% endif %}
                    {% if person.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': person.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('persons_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all persons with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="danger">
                        <td>Publication state</td>
                        <td>{{ person.getPublic() ? 'Public': 'Not public' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ person.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
