{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>Online source</small><br />{{ online_source.getName() }}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('online_source_edit', {'id': online_source.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>Url</td>
                    <td><a href="{{ online_source.getUrl() }}" target="_blank">{{ online_source.getUrl() }}</a></td>
                </tr>
                {% if online_source.getLastAccessed() is not empty %}
                    <tr>
                        <td>Last accessed</td>
                        <td>{{ online_source.getLastAccessed().format('d/m/Y') }}</td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseReferences.html.twig' with {'inverseReferences': is_granted('ROLE_VIEW_INTERNAL') ? online_source.getInverseReferences() : online_source.getPublicInverseReferences()} only %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if online_source.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ online_source.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if online_source.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': online_source.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('bibliographies_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all bibliography items with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ online_source.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
