{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit contents
        </h2>
    </div>
    <div id="contents-edit-app">
        <contents-edit-app
            init-urls="{{ urls }}"
            init-data="{{ contents }}"
            init-persons="{{ persons }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('contentsedit') }}
{% endblock %}
