{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-12 ">
        <h2 class="h1">Search Bibliography</h2>
        {% if is_granted('ROLE_EDITOR_VIEW') %}
            <div class="pbottom-default">
                <a
                    href="{{ path('article_add') }}"
                    class="action">
                    <i class="fa fa-plus"></i> Add a new article
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                    href="{{ path('book_add') }}"
                    class="action">
                    <i class="fa fa-plus"></i> Add a new book
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                    href="{{ path('book_chapter_add') }}"
                    class="action">
                    <i class="fa fa-plus"></i> Add a new book chapter
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                    href="{{ path('online_source_add') }}"
                    class="action">
                    <i class="fa fa-plus"></i> Add a new online source
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                        href="{{ path('blog_add') }}"
                        class="action">
                    <i class="fa fa-plus"></i> Add a new blog
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                        href="{{ path('blog_post_add') }}"
                        class="action">
                    <i class="fa fa-plus"></i> Add a new blog post
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                        href="{{ path('phd_add') }}"
                        class="action">
                    <i class="fa fa-plus"></i> Add a new PhD thesis
                </a>
                &nbsp;&nbsp;&nbsp;
                <a
                        href="{{ path('bib_varia_add') }}"
                        class="action">
                    <i class="fa fa-plus"></i> Add a new bib varia
                </a>
            </div>
        {% endif %}
    </div>
    <div id="bibliography-search-app">
        <bibliography-search-app
            :is-editor="{{ is_granted('ROLE_EDITOR_VIEW') ? 'true' : 'false' }}"
            :is-view-internal="{{ is_granted('ROLE_VIEW_INTERNAL') ? 'true' : 'false' }}"
            init-urls="{{ urls }}"
            init-data="{{ data }}"
            init-identifiers="{{ identifiers }}"
            init-managements="{{ managements }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/bibliographysearch.js") }}"></script>
{% endblock %}
