{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>Article</small><br />{{ article.getTitle() }}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('article_edit', {'id': article.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include '@App/Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? article.getPersonRoles() : article.getPublicPersonRoles()}
                    only
                %}
                {% if article.getJournalIssue() is not empty %}
                    {% set journalIssue = article.getJournalIssue() %}
                    <tr>
                        <td>Journal</td>
                        <td>
                            <dl>
                                <dt>Title</dt><dd><a href="{{ path('journal_get', {'id': journalIssue.getJournal().getId() }) }}">{{ journalIssue.getJournal().getTitle() }}</a></dd></dt>
                                <dt>Year</dt><dd>{{ journalIssue.getYear() }}</dd></dt>
                                {% if journalIssue.getVolume() is not empty %}<dt>Volume</dt><dd>{{ journalIssue.getVolume() }}</dd></dt>{% endif %}
                                {% if journalIssue.getNumber() is not empty %}<dt>Number</dt><dd>{{ journalIssue.getNumber() }}</dd></dt>{% endif %}
                            </dl>
                        </td>
                    </tr>
                {% endif %}
                {% set pages = article.formatStartEndPages('', article.getRawPages()) %}
                {% if pages is not empty %}
                    <tr>
                        <td>Pages</td>
                        <td>{{ pages }}</td>
                    </tr>
                {% endif %}
                {% if article.getIdentifications() is not empty and article.getIdentifications()['vassis'] is defined %}
                    <tr>
                        <td><a href="{{ path('person_get', {'id': article.getIdentifications()['vassis'][0].getIds()[0]}) }}">Vassis</a> abbreviation</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': article.getIdentifications()['vassis'][1]} only %}
                                {% block renderItem %}
                                    {{ item }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if article.getFlatIdentifications()|notVassis is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': article.getFlatIdentifications()|notVassis} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseReferences.html.twig' with {'inverseReferences': is_granted('ROLE_VIEW_INTERNAL') ? article.getInverseReferences() : article.getPublicInverseReferences()} only %}
                {% if article.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ article.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if article.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ article.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if article.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': article.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('bibliographies_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all bibliography items with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ article.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
