{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            Article "{{ article.getTitle() }}"
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('article_edit', {'id': article.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {% set personRoles = is_granted('ROLE_VIEW_INTERNAL') ? article.getPersonRoles() : article.getPublicPersonRoles() %}
                {% if personRoles is not empty %}
                    <tr>
                        <td>Person(s)</td>
                        <td>
                            {% for rolename, personRole in personRoles %}
                                <h6>{{ personRole[0].getName() }}:</h6>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': personRole[1]} only %}
                                    {% block renderItem %}
                                        {% include '@App/Helpers/renderPublic.html.twig' with {'item': item, 'path': 'person_get','display': item.getFullDescriptionWithOffices()} only %}
                                    {% endblock %}
                                {% endembed %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if article.getJournal() is not empty %}
                    <tr>
                        <td>Journal</td>
                        <td>
                            <dl>
                                <dt>Title</dt><dd>{{ article.getJournal().getTitle() }}</dd></dt>
                                <dt>Year</dt><dd>{{ article.getJournal().getYear() }}</dd></dt>
                                {% if article.getJournal().getVolume() is not empty %}<dt>Volume</dt><dd>{{ article.getJournal().getVolume() }}</dd></dt>{% endif %}
                                {% if article.getJournal().getNumber() is not empty %}<dt>Number</dt><dd>{{ article.getJournal().getNumber() }}</dd></dt>{% endif %}
                            </dl>
                        </td>
                    </tr>
                {% endif %}
                {% set pages = article.formatStartEndPages('', article.getRawPages()) %}
                {% if pages is not empty %}
                    <tr>
                        <td>Pages</td>
                        <td>{{ pages }}</td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseBibliographies.html.twig' with {'inverseBibliographies': article.getInverseBibliographies()} only %}
            </tbody>
        </table>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("/build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/build/feedback.js") }}"></script>
{% endblock %}
