{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            Article "{{ article.getTitle() }}"
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('article_edit', {'id': article.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include '@App/Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? article.getPersonRoles() : article.getPublicPersonRoles()}
                    only
                %}
                {% if article.getJournal() is not empty %}
                    {% set journal = article.getJournal() %}
                    <tr>
                        <td>Journal</td>
                        <td>
                            <dl>
                                <dt>Title</dt><dd>{{ journal.getTitle() }}</dd></dt>
                                <dt>Year</dt><dd>{{ journal.getYear() }}</dd></dt>
                                {% if journal.getVolume() is not empty %}<dt>Volume</dt><dd>{{ journal.getVolume() }}</dd></dt>{% endif %}
                                {% if journal.getNumber() is not empty %}<dt>Number</dt><dd>{{ journal.getNumber() }}</dd></dt>{% endif %}
                            </dl>
                        </td>
                    </tr>
                {% endif %}
                {% set pages = article.formatStartEndPages('', article.getRawPages()) %}
                {% if pages is not empty %}
                    <tr>
                        <td>Pages</td>
                        <td>{{ pages }}</td>
                    </tr>
                {% endif %}
                {% if article.getIdentifications() is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': article.getIdentifications()} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseBibliographies.html.twig' with {'inverseBibliographies': article.getInverseBibliographies()} only %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if article.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': article.getManagements()} only %}
                                    {% block renderItem %}
                                        {{ item.getName() }}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
