{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            Edit news items or events
            <a
                href="{{ path('news_events_get') }}"
                class="action pull-right padding-left-small"
                title="View on overview page">
                <i class="fa fa-list"></i>
            </a>
            <a
                    href="{{ path('homepage') }}"
                    class="action pull-right"
                    title="View on homepage">
                <i class="fa fa-home"></i>
            </a>
        </h2>
    </div>
    <article class="col-sm-9 mbottom-large">
        <div id="news-event-edit-app">
            <news-event-edit-app
                init-urls = "{{ urls }}"
                init-data="{{ data }}"
            />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('ckeditor/ckeditor') }}
    {{ vite_entry_script_tags('newseventedit') }}
{% endblock %}
