{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>Blog post</small><br />{{ blog_post.gettitle() }}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('blog_post_edit', {'id': blog_post.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include 'Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? blog_post.getPersonRoles() : blog_post.getPublicPersonRoles()}
                    only
                %}
                {% set blog = blog_post.getBlog() %}
                <tr>
                    <td>Blog</td>
                    <td><a href="{{ path('blog_get', {'id': blog.getId()}) }}">{{ blog.getDescription() }}</a></td>
                </tr>
                <tr>
                    <td>Url</td>
                    <td><a href="{{ blog_post.getUrl() }}" target="_blank">{{ blog_post.getUrl() }}</a></td>
                </tr>
                {% if blog_post.getPostDate() is not empty %}
                    <tr>
                        <td>Date posted</td>
                        <td>{{ blog_post.getPostDate().format('d/m/Y') }}</td>
                    </tr>
                {% endif %}
                {% if blog_post.getUrls() is not empty %}
                    <tr>
                        <td>External links</td>
                        <td>
                            {% embed 'Helpers/renderList.html.twig' with {'list': blog_post.getUrls()} only %}
                                {% block renderItem %}
                                    <a href="{{ item.getUrl() }}" target="_blank">{% if item.getTitle() is not empty %}{{ item.getTitle() }}{% else %}{{ item.getUrl() }}{% endif %}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% include 'Helpers/renderInverseReferences.html.twig' with {'inverseReferences': is_granted('ROLE_VIEW_INTERNAL') ? blog_post.getInverseReferences() : blog_post.getPublicInverseReferences()} only %}
                {% if blog_post.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ blog_post.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if blog_post.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ blog_post.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if blog_post.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed 'Helpers/renderList.html.twig' with {'list': blog_post.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('bibliographies_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all bibliography items with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ blog_post.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
