{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit blog post
                <a
                    href="{{ path('blog_post_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the blog post">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add blog post
            {% endif %}
        </h2>
    </div>
    <div id="blog-post-edit-app">
        <blog-post-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-identifiers="{{ identifiers }}"
            init-roles="{{ roles }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    {{ vite_entry_script_tags('main') }}
    {{ vite_entry_script_tags('blogpostedit') }}
{% endblock %}
