{# Vassis abbreviation is displayed separately #}
{% if item.getIdentifier().getSystemName == 'vassis' %}
{# Institution, link is provided by identifier #}
{% elseif item.getIdentifier().getLinkType() == 'online_source' %}
    <a href="{{ path('online_source_get', {'id': item.getIdentifier().getIds()[0]}) }}">
        {{ item.getIdentifier().getName() }}
    </a>,
    {% if item.getIdentifier().getSystemName() == 'pinakes_person' %}
        {% set id_number = item.getIdentification()|slice(4) %}
        {% if item.getIdentification() starts with 'CPA.' %}
            <a href="https://pinakes.irht.cnrs.fr/notices/copiste-possesseur-autre/{{ id_number }}">
                {{ item }}
            </a>
        {% elseif item.getIdentification() starts with 'A.' %}
            <a href="https://pinakes.irht.cnrs.fr/notices/auteur/{{ id_number }}">
                {{ item }}
            </a>
        {% elseif item.getIdentification() starts with 'S.' %}
            <a href="https://pinakes.irht.cnrs.fr/notices/saint/{{ id_number }}">
                {{ item }}
            </a>
        {% endif %}
    {% else %}
        <a href="{{ item.getIdentifier().getLink() }}{{ item.getIdentification() }}" target="_blank">{{ item }}</a>
    {% endif %}


    {# Book (possibly multiple per identifier) #}
{% elseif item.getIdentifier().getLinkType() == 'book' %}
    {% if item.getIdentifier().getVolumes() == 1 %}
        <a href="{{ path('book_get', {'id': item.getIdentifier().getIds()[0]}) }}">{{ item.getIdentifier().getName() }}</a>, {{ item }}
    {% elseif item.getIdentifier().getClusterId() is not null %}
        <a href="{{ path('book_cluster_get', {'id': item.getIdentifier().getClusterId()}) }}">{{ item.getIdentifier().getName() }}</a>,
        <a href="{{ path('book_get', {'id': item.getIdentifier().getIds()[item.getVolume() - 1]}) }}">{{ item.getRomanVolume() }}</a>.{{ item.getIdentification() }}
    {% else %}
        {{ item.getIdentifier().getName() }}, <a href="{{ path('book_get', {'id': item.getIdentifier().getIds()[item.getVolume() - 1]}) }}">{{ item.getRomanVolume() }}</a>.{{ item.getIdentification() }}
    {% endif %}
{# Article #}
{% elseif item.getIdentifier().getLinkType() == 'article' %}
    {# Specific markup for #}
    <a href="{{ path('article_get', {'id': item.getIdentifier().getIds()[0]}) }}">{{ item.getIdentifier().getName() }}</a>, {{ item }}
{% endif %}
