{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 mbottom-default">

        {% if error %}
        <div role="alert" class="alert alert-dismissible alert-danger">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
            <i class="fa fa-ban" aria-hidden="true"></i>
            <span class="sr-only">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <div class="content-wrapper bg-primary padding-20 mbottom-default">
            <form class="login-page" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                {% if app.request.query.get('_target_path') %}
                    <input type="hidden" name="_target_path" value="{{ app.request.query.get('_target_path') }}" />
                {% endif %}
                <h1 class="h2 pbottom-small">{{ 'security.login.submit'|trans }}</h1>
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class=form-group>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" class="form-control" name="_password" required="required" />
                </div>
                <div class="pbottom-large form-group checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <input type="submit" id="_submit" class="btn btn-secondary" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
        <a href="{{ path("fos_user_resetting_request") }}">Forgot your password?</a>
    </div>
</div>
