{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>Book</small><br />
            {{ book.getBigTitle() }}
            {% if book.getSmallTitle() is not empty %}
                <br /><small class="text-primary">{{ book.getSmallTitle() }}</small>
            {% endif %}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('book_edit', {'id': book.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include '@App/Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? book.getPersonRoles() : book.getPublicPersonRoles()}
                    only
                %}
                {% if book.getYear() is not empty %}
                    <tr>
                        <td>Year</td>
                        <td>{{ book.getYear() }}</td>
                    </tr>
                {% endif %}
                {% if book.getCity() is not empty %}
                    <tr>
                        <td>City</td>
                        <td>{{ book.getCity() }}</td>
                    </tr>
                {% endif %}
                {% if book.getPublisher() is not empty %}
                    <tr>
                        <td>Publisher</td>
                        <td>{{ book.getPublisher() }}</td>
                    </tr>
                {% endif %}
                {% if book.getVolume() is not empty %}
                    <tr>
                        <td>Volume</td>
                        <td>{{ book.getVolume() }}</td>
                    </tr>
                {% endif %}
                {% if book.getTotalVolumes() is not empty %}
                    <tr>
                        <td>Total volumes</td>
                        <td>{{ book.getTotalVolumes() }}</td>
                    </tr>
                {% endif %}
                {% if book.getCluster() is not empty %}
                    <tr>
                        <td>Other volumes</td>
                        <td>See <a href="{{ path('book_cluster_get', {'id': book.getCluster().getId()}) }}">{{ book.getCluster().getTitle() }}</a></td>
                    </tr>
                {% endif %}
                {% if book.getUrls() is not empty %}
                    <tr>
                        <td>External links</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getUrls()} only %}
                                {% block renderItem %}
                                    <a href="{{ item.getUrl() }}" target="_blank">{% if item.getTitle() is not empty %}{{ item.getTitle() }}{% else %}{{ item.getUrl() }}{% endif %}</a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if book.getIdentifications() is not empty and book.getIdentifications()['vassis'] is defined %}
                    <tr>
                        <td><a href="{{ path('person_get', {'id': book.getIdentifications()['vassis'][0].getIds()[0]}) }}">Vassis</a> abbreviation</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getIdentifications()['vassis'][1]} only %}
                                {% block renderItem %}
                                    {{ item }}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if book.getFlatIdentifications()|notVassis is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getFlatIdentifications()|notVassis} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if book.getSeries() is not empty %}
                    <tr>
                        <td>Series</td>
                        <td><a href="{{ path('book_series_get', {'id': book.getSeries().getId()}) }}">{{ book.getSeries().getTitle() }}</a></td>
                    </tr>
                {% endif %}
                {% if book.getSeriesVolume() is not empty %}
                    <tr>
                        <td>Series volume</td>
                        <td>{{ book.getSeriesVolume() }}</td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseReferences.html.twig' with {'inverseReferences': is_granted('ROLE_VIEW_INTERNAL') ? book.getInverseReferences() : book.getPublicInverseReferences()} only %}
                {% if book.getChapters() is not empty %}
                    <tr>
                        <td>Chapters</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getChapters()} only %}
                                {% block renderItem %}
                                    <a href="{{ path('book_chapter_get', {'id': item.getId()}) }}">
                                        {{ item.getDescription() }}
                                    </a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% if book.getPublicComment() is not empty %}
                    <tr>
                        <td>Comment</td>
                        <td>{{ book.getPublicComment()|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if book.getPrivateComment() is not empty %}
                        <tr class="warning">
                            <td>Internal comment</td>
                            <td>{{ book.getPrivateComment()|nl2br }}</td>
                        </tr>
                    {% endif %}
                    {% if book.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getManagements()} only %}
                                    {% block renderItem %}
                                        <a href="{{ path('bibliographies_search') ~ '?' ~ 'filters[management]'|url_encode ~ '=' ~ item.getId() }}" title="Search for all bibliography items with this management collection">
                                            {{ item.getName() }}
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>

        <div class="pbottom-default text-right">
            <em>Last modified: {{ book.getModified()|date('Y-m-d') }}.</em>
        </div>

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
