{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            Book "{{ book.getTitle() }}"
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('book_edit', {'id': book.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        <table class="table table-hover table-bordered">
            <tbody>
                {%
                    include '@App/Helpers/renderPersonRoles.html.twig'
                    with {'personRoles': is_granted('ROLE_VIEW_INTERNAL') ? book.getPersonRoles() : book.getPublicPersonRoles()}
                    only
                %}
                {% if book.getYear() is not empty %}
                    <tr>
                        <td>Year</td>
                        <td>{{ book.getYear() }}</td>
                    </tr>
                {% endif %}
                {% if book.getCity() is not empty %}
                    <tr>
                        <td>City</td>
                        <td>{{ book.getCity() }}</td>
                    </tr>
                {% endif %}
                {% if book.getEditor() is not empty %}
                    <tr>
                        <td>Editor</td>
                        <td>{{ book.getEditor() }}</td>
                    </tr>
                {% endif %}
                {% if book.getPublisher() is not empty %}
                    <tr>
                        <td>Publisher</td>
                        <td>{{ book.getPublisher() }}</td>
                    </tr>
                {% endif %}
                {% if book.getSeries() is not empty %}
                    <tr>
                        <td>Series</td>
                        <td>{{ book.getSeries() }}</td>
                    </tr>
                {% endif %}
                {% if book.getVolume() is not empty %}
                    <tr>
                        <td>Volume</td>
                        <td>{{ book.getVolume() }}</td>
                    </tr>
                {% endif %}
                {% if book.getTotalVolumes() is not empty %}
                    <tr>
                        <td>Total volumes</td>
                        <td>{{ book.getTotalVolumes() }}</td>
                    </tr>
                {% endif %}
                {% if book.getIdentifications() is not empty %}
                    <tr>
                        <td>Identification</td>
                        <td>
                            {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getIdentifications()} only %}
                                {% block renderItem %}
                                    {% include '@App/Helpers/renderIdentification.html.twig' with {'item': item} only %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endif %}
                {% include '@App/Helpers/renderInverseBibliographies.html.twig' with {'inverseBibliographies': book.getInverseBibliographies()} only %}
                {% if is_granted('ROLE_VIEW_INTERNAL') %}
                    {% if book.getManagements() is not empty %}
                        <tr class="warning">
                            <td>Management collection(s)</td>
                            <td>
                                {% embed '@App/Helpers/renderList.html.twig' with {'list': book.getManagements()} only %}
                                    {% block renderItem %}
                                        {{ item.getName() }}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("/build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/build/feedback.js") }}"></script>
{% endblock %}
