{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit occurrence
                <a
                    href="{{ path('occurrence_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the occurrence">
                    <i class="fa fa-eye"></i>
                </a>
            {% elseif clone %}
                Duplicate occurrence
            {% else %}
                Add occurrence
            {% endif %}
        </h2>
    </div>
    <div id="occurrence-edit-app">
        <occurrence-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-identifiers="{{ identifiers }}"
            init-roles="{{ roles }}"
            init-contributor-roles="{{ contributorRoles }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/occurrenceedit.js") }}"></script>
{% endblock %}
