{% if item.getType() == 'book' %}
    <a href="{{ path('bibliography_get', {'id': item.getBook().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'article' %}
    <a href="{{ path('bibliography_get', {'id': item.getArticle().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'bookChapter' %}
    <a href="{{ path('bibliography_get', {'id': item.getBookChapter().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'onlineSource' %}
    <a href="{{ path('bibliography_get', {'id': item.getOnlineSource().getId()}) }}">{{ item.getDescription() }}</a>
{% endif %}
