{% if item['type'] == 'book' %}
    <a href="{{ path('book_get', {'id': item['book'].getId()}) }}">
        {{ item['book'].getDescription ~ ': ' ~ item['pages']|join(', ') }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
{% elseif item['type'] == 'article' %}
    <a href="{{ path('article_get', {'id': item['article'].getId()}) }}">
        {{ item['article'].getDescription ~ ': ' ~ item['pages']|join(', ') }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
{% elseif item['type'] == 'bookChapter' %}
    <a href="{{ path('book_chapter_get', {'id': item['bookChapter'].getId()}) }}">
        {{ item['bookChapter'].getDescription() ~ ': ' ~ item['pages']|join(', ') }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
{% elseif item['type'] == 'onlineSource' %}
    <a href="{{ path('online_source_get', {'id': item['onlineSource'].getId()}) }}">
        {{ item['onlineSource'].getDescription() }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
    {% for relUrl in item['relUrl'] %}
        {% if relUrl is not null and relUrl != '' %}
            <br />
            <a href="{{ relUrl }}" class="relUrl" target="_blank">
                <i class="fa fa-external-link"></i>
                {{ relUrl }}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
