{# Vassis abbreviation is displayed separately #}
{% if item.getIdentifier().getSystemName == 'vassis' %}
{# Institution, link is provided by identifier #}
{% elseif item.getIdentifier().getLinkType() == 'online_source' %}
<a href="{{ path('online_source_get', {'id': item.getIdentifier().getIds()[0]}) }}">{{ item.getIdentifier().getName() }}</a>, <a href="{{ item.getIdentifier().getLink() }}{{ item.getIdentification() }}" target="_blank">{{ item }}</a>
{# Book (possibly multiple per identifier) #}
{% elseif item.getIdentifier().getLinkType() == 'book' %}
    {% if item.getIdentifier().getVolumes() == 1 %}
        <a href="{{ path('book_get', {'id': item.getIdentifier().getIds()[0]}) }}">{{ item.getIdentifier().getName() }}</a>, {{ item }}
    {% else %}
        {{ item.getIdentifier().getName() }}, <a href="{{ path('book_get', {'id': item.getIdentifier().getIds()[item.getVolume() - 1]}) }}">{{ item.getRomanVolume() }}</a>.{{ item.getIdentification() }}
    {% endif %}
{# Article #}
{% elseif item.getIdentifier().getLinkType() == 'article' %}
    {# Specific markup for #}
    <a href="{{ path('article_get', {'id': item.getIdentifier().getIds()[0]}) }}">{{ item.getIdentifier().getName() }}</a>, {{ item }}
{% endif %}
