{% if item[0].getLink() is not empty %}
    {{ item[0].getName() }}: <a href="{{ item[0].getLink() }}{{ item[1]|join(', ') }}">{{ item[1]|join(', ') }}</a>
{% else %}
    {{ item[0].getName() }}: {{ item[1]|join(', ') }}
{% endif %}
