<table class="table">
    {% if title %}
        <tr><td class="line-number" data-line-number="T"></td><td class="verse">{{ title }}</td></tr>
        <tr><td class="line-number"></td><td class="verse">&nbsp;</td></tr>
    {% endif %}
    {% for index, key in verses|keys %}
        {% set verse = verses[key] %}
        {% if verse.getGroupId() %}
            <tr><td class="line-number" data-line-number="{{ index +1 }}"></td><td class="verse"><a href="{{ path('verse_variant_get', {'groupId': verse.getGroupId()}) }}">{{ verse.getVerse() }}<i class="fa fa-link pull-right"></i></a></td></tr>
        {% else %}
            <tr><td class="line-number" data-line-number="{{ index +1 }}"></td><td class="verse">{{ verse.getVerse() }}</td></tr>
        {% endif %}
    {% endfor %}
</table>
