{% if item.getType() == 'book' %}
    <a href="{{ path('book_get', {'id': item.getBook().getId()}) }}">
        {{ item.getDescription() }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
    {% if item.getImage() is not empty %}
        (image: plate {{ item.getImage() }})
    {% endif %}
{% elseif item.getType() == 'article' %}
    <a href="{{ path('article_get', {'id': item.getArticle().getId()}) }}">
        {{ item.getDescription() }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
    {% if item.getImage() is not empty %}
        (image: plate {{ item.getImage() }})
    {% endif %}
{% elseif item.getType() == 'bookChapter' %}
    <a href="{{ path('book_chapter_get', {'id': item.getBookChapter().getId()}) }}">
        {{ item.getDescription() }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
    {% if item.getImage() is not empty %}
        (image: plate {{ item.getImage() }})
    {% endif %}
{% elseif item.getType() == 'onlineSource' %}
    <a href="{{ path('online_source_get', {'id': item.getOnlineSource().getId()}) }}">
        {{ item.getDescription() }}
        {% if sourceStatus is defined and sourceStatus is not empty %}
            ({{ sourceStatus.getName() }})
        {% endif %}
    </a>
    {% if item.getImage() is not empty %}
        (image: plate {{ item.getImage() }})
    {% endif %}
    {%  if item.getRelUrl() is not empty %}
        &nbsp;&nbsp;&nbsp;
        <a href="{{ item.getRelUrl() }}" class="action">
            <i class="fa fa-external-link"></i>
            {{ item.getRelUrl() }}
        </a>
    {% endif %}
{% endif %}
