{% if list|length > 5 and (enableCollapse is defined and enableCollapse) %}
    <div class="collapsed">
{% endif %}
{% if list|length > 1 or (forceList is defined and forceList) %}
    <ul>
{% endif %}

    {% for key, item in list %}
        {% if list|length > 1 or (forceList is defined and forceList) %}
            <li>
        {% endif %}

        {% with {'key': key, 'item': item} %}
            {% block renderItem %}{% endblock %}
        {% endwith %}

        {% if list|length > 1 or (forceList is defined and forceList) %}
            </li>
        {% endif %}
    {% endfor %}
{% if list|length > 1 or (forceList is defined and forceList) %}
    </ul>
{% endif %}
{% if list|length > 5 and (enableCollapse is defined and enableCollapse) %}
        <a href="#" class="collapse-toggle" data-action="display">display {{ list|length - 3 }} more {{ label }} ({{ list|length }} in total)</a>
        <a href="#" class="collapse-toggle" data-action="hide">hide {{ list|length - 3 }} {{ label }} ({{ list|length }} in total)</a>
    </div>
{% endif %}
