{% if item.getType() == 'book' %}
    <a href="{{ path('book_get', {'id': item.getBook().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'article' %}
    <a href="{{ path('article_get', {'id': item.getArticle().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'bookChapter' %}
    <a href="{{ path('book_chapter_get', {'id': item.getBookChapter().getId()}) }}">{{ item.getDescription() }}</a>
{% elseif item.getType() == 'onlineSource' %}
    <a href="{{ path('onine_source_get', {'id': item.getOnlineSource().getId()}) }}">{{ item.getDescription() }}</a>
{% endif %}
