{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            {% if id is not empty %}
                Edit Book Chapter
                <a
                    href="{{ path('book_chapter_get', {'id': id}) }}"
                    class="action pull-right"
                    title="View the book chapter">
                    <i class="fa fa-eye"></i>
                </a>
            {% else %}
                Add book chapter
            {% endif %}
        </h2>
    </div>
    <div id="book-chapter-edit-app">
        <book-chapter-edit-app
            init-urls = "{{ urls }}"
            init-data="{{ data }}"
            init-roles="{{ roles }}"
            init-identifiers="{{ identifiers }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/bookchapteredit.js") }}"></script>
{% endblock %}
