<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Database of Byzantine Book Epigrams</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
{#        <link rel="stylesheet" href="{{ asset('build/assets/websites/static/css/screen.css') }}">#}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/websites/static/icons/apple-icon-57x57.png') }}"/>
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/assets/websites/static/icons/apple-icon-60x60.png') }}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/assets/websites/static/icons/apple-icon-72x72.png') }}"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/assets/websites/static/icons/apple-icon-76x76.png') }}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/assets/websites/static/icons/apple-icon-114x114.png') }}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/assets/websites/static/icons/apple-icon-120x120.png') }}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/assets/websites/static/icons/apple-icon-144x144.png') }}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/assets/websites/static/icons/apple-icon-152x152.png') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/websites/static/icons/apple-icon-180x180.png') }}"/>
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/assets/websites/static/icons/android-icon-192x192.png') }}"/>
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/assets/websites/static/icons/favicon-96x96.png') }}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/websites/static/icons/favicon-32x32.png') }}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/websites/static/icons/favicon-16x16.png') }}"/>
        <link rel="icon" sizes="16x16 32x32" href="{{ asset('build/assets/websites/static/icons/favicon.ico') }}"/>
        <link rel="manifest" href="{{ asset('build/assets/websites/static/icons/manifest.json') }}"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
{#        <meta name="msapplication-TileImage" content="{{ asset('build/assets/websites/static/icons/ms-icon-144x144.png') }}"/>#}
        <meta name="theme-color" content="#ffffff"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="The Database of Byzantine Book Epigrams (DBBE) project makes available textual and contextual data of book epigrams from medieval Greek manuscripts. We define book epigrams as poems in books and on books: their subject is the very manuscript in which they are found." />
        <meta name="keywords" content="DBBE, Byzantine, Book, Epigram, Greek, Manuscript" />
        <meta name="author" content="The Database of Byzantine Book Epigrams (DBBE) Team">
        <meta property="og:title" content="Database of Byzantine Book Epigrams">
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The Database of Byzantine Book Epigrams (DBBE) project makes available textual and contextual data of book epigrams from medieval Greek manuscripts. We define book epigrams as poems in books and on books: their subject is the very manuscript in which they are found.">
{#        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('build/assets/websites/static/images/logo_square.png') }}">#}
        <meta property="og:url" content="{{ app.request.uri }}">
        {%  block stylesheets %}
            {{ vite_entry_link_tags('main') }}
        {% endblock %}
    </head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3FF4PTX6B"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D3FF4PTX6B');
    </script>

    <body>
        <div class="fluid-container">
            <div class="row">
                <header class="pageheader col-xs-12 ">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="navbar-header col-xs-12 col-sm-2">
                                <div class="page-logo">
                                    <a href="https://www.ugent.be/" class="link">
                                        <img src="{{ asset('build/assets/websites/static/images/logo_ugent_en.svg') }}" alt="Ghent University">
                                    </a>
                                </div>
                                <a href="#" class="toggle-search">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <span>ZOEK</span>
                                </a>
                                <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" role="button">
                                    <span class="">MENU</span>
                                    <div class="block">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </a>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse col-sm-10" role="navigation">
                                <div class="row menu">
                                    <div class="col-xs-12">
                                        <div class="bg-primary spacer">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <ul class="nav-tertiary nav navbar-nav navbar-right">
                                                        <li>
                                                            <a href="https://www.ugent.be/lw/en" title="Home Faculty of Arts and Philosophy">Home Faculty of Arts and Philosophy</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.ugent.be/en" title="Home Ghent University">Home Ghent University</a>
                                                        </li>
                                                        {% if is_granted("ROLE_USER") %}
                                                            <li>
                                                                <span><i class="fa fa-key"></i>&nbsp;{{ app.user.getDisplayName() }}</span>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('idci_keycloak_security_auth_logout') }}">Log out</a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a href="{{ path('login') }}">Login</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row menu">
                                    <div class="col-xs-12">
                                        <ul class="nav-primary nav navbar-nav">
                                            <li class="{{ app.request.get('_route') == 'homepage' ? 'active' }}">
                                                <a href="{{ path('homepage') }}">
                                                    <span>Home</span>
                                                </a>
                                            </li>
                                            <li class="{{ app.request.get('_route') == 'occurrences_search' ? 'active' }}">
                                                <a href="{{ path('occurrences_search') }}">
                                                    <span>Occurrences</span>
                                                </a>
                                            </li>
                                            <li class="{{ app.request.get('_route') == 'types_search' ? 'active' }}">
                                                <a href="{{ path('types_search') }}">
                                                    <span>Types</span>
                                                </a>
                                            </li>
                                            <li class="{{ app.request.get('_route') == 'manuscripts_search' ? 'active' }}">
                                                <a href="{{ path('manuscripts_search') }}">
                                                    <span>Manuscripts</span>
                                                </a>
                                            </li>
                                            <li class="{{ app.request.get('_route') == 'persons_search' ? 'active' }}">
                                                <a href="{{ path('persons_search') }}">
                                                    <span>Persons</span>
                                                </a>
                                            </li>
                                            <li class="{{ app.request.get('_route') == 'bibliographies_search' ? 'active' }}">
                                                <a href="{{ path('bibliographies_search') }}">
                                                    <span>Bibliography</span>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                    <span>Info</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                      <a href="https://www.projectdbbe.ugent.be/" target="_blank">
                                                        <span>About</span>
                                                      </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.projectdbbe.ugent.be/team/" target="_blank">
                                                            <span>Team</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('page_get', {'slug': 'search-tips-tricks'}) }}">
                                                            <span>Search tips and tricks</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                      <a href="{{ path('page_get', {'slug': 'help'}) }}">
                                                        <span>Help</span>
                                                      </a>
                                                    </li>
                                                    <li>
                                                      <a href="https://www.projectdbbe.ugent.be/contact/" target="_blank">
                                                        <span>Contact</span>
                                                      </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% if is_granted('ROLE_EDITOR_VIEW') %}
                                                <li class="dropdown">
                                                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                        <span>Edit</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ path('acknowledgements_edit') }}">
                                                                <span>Acknowledgements</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('book_clusters_edit') }}">
                                                                <span>Book clusters</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('book_seriess_edit') }}">
                                                                <span>Book series</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('contents_edit') }}">
                                                                <span>Contents</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('genres_edit') }}">
                                                                <span>Genres</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('journals_edit') }}">
                                                                <span>Journals</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('journal_issues_edit') }}">
                                                                <span>Journal issues</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('subjects_edit') }}">
                                                                <span>Keywords</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('locations_edit') }}">
                                                                <span>Locations</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('managements_edit') }}">
                                                                <span>Management collections</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('metres_edit') }}">
                                                                <span>Metres</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('offices_edit') }}">
                                                                <span>Offices</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('origins_edit') }}">
                                                                <span>Origins</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('regions_edit') }}">
                                                                <span>Regions</span>
                                                            </a>
                                                        </li>
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <li>
                                                                <a href="{{ path('roles_edit') }}">
                                                                    <span>Roles</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                        <li>
                                                            <a href="{{ path('self_designations_edit') }}">
                                                                <span>(Self) designations</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('statuses_edit') }}">
                                                                <span>Statuses</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('tags_edit') }}">
                                                                <span>Tags</span>
                                                            </a>
                                                        </li>
                                                        {% if is_granted('ROLE_USER_ADMIN') %}
                                                            <li>
                                                                <a href="{{ keycloakAdminUrl }}" target="_blank">
                                                                    <span>Users</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="row branding-wrapper">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-2 branding-container header_title faculty-1">
                            <a href="/">
                                <h1>Database of Byzantine Book Epigrams</h1>
                            </a>
                        </div>
                    </div>
                </header>
            </div>
            {% if app.environment != 'prod' %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="text-danger text-center">
                            This is a test environment.
                        </h2>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('IS_IMPERSONATOR') %}
                <a href="{{ impersonation_exit_path(path('homepage') ) }}">Exit impersonation</a>
            {% endif %}
        </div>

        <div class="fluid-container">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div role="alert" class="alert alert-dismissible alert-{{ type }}">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="page-footer fluid-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-img padding-20">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 pbottom-small branding-container footer_title faculty">
                                <h2>
                                    <a href="https://www.ugent.be/lw/en">
                                        <img class="svg" alt="Logo Faculty of Arts and Philosophy" src="{{ asset('build/assets/websites/static/images/logo_lw_en.svg') }}" />
                                    </a>
                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-4 branding-container app-logo-container">
                                <a href="{{ path('homepage') }}">
{#                                    <img class="svg app-logo" src="{{ asset('assets/images/logo.svg') }}" alt="Logo DBBE">#}
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <ul class="list-inline list-unstyled pull-right">
                                    <li>
                                        <a href="https://www.projectdbbe.ugent.be/contact/" target="_blank">Contact</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('page_get', {'slug': 'cookies'}) }}">Cookies</a>
                                    </li>
                                    <li>
                                        &copy; {{ "now"|date("Y") }} Ghent University
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-share col-xs-12 col-sm-4">
                                <ul class="list-inline list-unstyled social">
                                    <li>
                                        <a href="https://www.facebook.com/byzantinebookepigrams/">
                                            <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/dbbe.ugent/">
                                            <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCm085S1xRlDi5LQ5t5NMRFw">
                                            <i class="fa fa-youtube"></i><span class="sr-only">Youtube</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascript %}
            {{ vite_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
