{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2 class="h1">
            Edit statuses
        </h2>
    </div>
    <div id="statuses-edit-app">
        <statuses-edit-app
            init-statuses="{{ statuses }}"
            get-statuses-url="{{ path('statuses_get') }}"
            get-manuscript-deps-by-status-url="{{ path('manuscript_deps_by_status', {'id': 'status_id'}) }}"
            get-manuscript-url="{{ path('manuscript_show', {'id': 'manuscript_id'}) }}"
            post-status-url="{{ path('status_post') }}"
            put-status-url="{{ path('status_put', {'id': 'status_id'}) }}"
            delete-status-url="{{ path('status_delete', {'id': 'status_id'}) }}"
        />
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("/build/statusesedit.js") }}"></script>
{% endblock %}
