{% extends 'base.html.twig' %}

{% block content %}
    <article class="col-xs-9">
        <h2 class="h1">
            <small>Book</small><br />{{ book_cluster.getTitle() }}
            {% if is_granted('ROLE_EDITOR_VIEW') %}
                <a href="{{ path('book_clusters_edit', {'id': book_cluster.getId()}) }}" class="action pull-right" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        </h2>
        {% embed 'Helpers/renderList.html.twig' with {'list': book_cluster.getBooks()} only %}
            {% block renderItem %}
                <a href="{{ path('book_get', {'id': item.getId()}) }}">{{ item.getDescription() }}</a>
            {% endblock %}
        {% endembed %}
        {% if book_cluster.getUrls() is not empty %}
            <h3>External links</h3>
            {% embed 'Helpers/renderList.html.twig' with {'list': book_cluster.getUrls()} only %}
                {% block renderItem %}
                    <a href="{{ item.getUrl() }}" target="_blank">{% if item.getTitle() is not empty %}{{ item.getTitle() }}{% else %}{{ item.getUrl() }}{% endif %}</a>
                {% endblock %}
            {% endembed %}
        {% endif %}

        <div id="feedback-app">
            <feedback-app
                feedback-url="{{ path('feedback') }}"
                site-key=" {{ siteKey }}" />
        </div>

        <div class="pbottom-default">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js?render=explicit'></script>
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/feedback.js") }}"></script>
{% endblock %}
