{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-sm-9">
        <h2 class="h1">
            Edit news items or events
            <a
                href="{{ path('homepage') }}"
                class="action pull-right"
                title="View on homepage">
                <i class="fa fa-list"></i>
            </a>
        </h2>
    </div>
    <article class="col-sm-9 mbottom-large">
        <div id="news-event-edit-app">
            <news-event-edit-app
                init-urls = "{{ urls }}"
                init-data="{{ data }}"
            />
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset("build/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("build/newseventedit.js") }}"></script>
{% endblock %}
